<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="./favicon.ico">
    <title>Bowling Game Manager</title>
</head>

<body>
    <h1>Bowling Game Manager</h1>
    <h2>Partie de
        <%= locals.name %>
    </h2>
    <table>
        <thead>
            <tr>
                <th scope="col" colspan="2">1</th>
                <th scope="col" colspan="2">2</th>
                <th scope="col" colspan="2">3</th>
                <th scope="col" colspan="2">4</th>
                <th scope="col" colspan="2">5</th>
                <th scope="col" colspan="2">6</th>
                <th scope="col" colspan="2">7</th>
                <th scope="col" colspan="2">8</th>
                <th scope="col" colspan="2">9</th>
                <th scope="col" colspan="3">10</th>
                <th scope="col" colspan="1">total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="throwScoreboard">
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td rowspan="2"></td>
            </tr>
            <tr class="frameScoreboard">
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="2"></td>
                <td scope="row" colspan="3"></td>
            </tr>
        </tbody>
    </table>
</body>